body {
  background-image: url(undraw_game_world_re_e44j.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 90% -0.4%;
  min-height: 100vh;
  margin:2%;


}

.navigat {

  display: grid;
  width: 100%;
  height: 55px;
  grid-template-columns: 50% 50%;
  position: fixed;
  top: 0%;
  overflow: hidden;
  background-color: rgb(156, 124, 230);
  align-items: center;
  padding: 0%;
  z-index: 1;

}

.main {
  min-height: 100vh;
  padding-top: 55px;
}

.logo img {
  width: 8%;
  height: 8%;

}

.parent {

  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.parent a {
  text-decoration: none;
  color: black;
  padding: 6px;
  border-radius: 10px;
}

.parent a:hover {
  background-color: rgb(92, 38, 238);
  color: white;
}

.design {
  /* background-size: 500px; */
  display: grid;
  width: 50%;
  grid-template-rows: 1fr 3fr 3fr;
  padding: 50px;
  /* margin-top: 8%; */
  min-height: 100vh;

}

.div1 {
  color: blue;
  text-align: center;

  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.div2 {
  background-color: white;
  padding-bottom: 5%;

  text-align: justify;
  margin-bottom: 10px;

}

.div3 a {
  text-decoration: none;
  color: white;
  padding: 6px;
  background-color: blueviolet;
  border-radius: 20px;
  width: 50%;
  text-align: center;

}

.div3 a:hover {
  color: black
}

.div3 {
  text-align: center;
}

.SIGNIN a {
  text-decoration: none;
  padding: 6px;
  border-radius: 20px;
  background-color: blueviolet;
  color: white
}


.sports {
  background-color: rgba(216, 210, 210, 0.753);
  min-height: 100vh;
  min-width: 100vh;
  padding-top: 55px;
  /* width: 100%; */
  /* display: flex; */
  grid-template-rows: 20% 80%;
}

.main {
  min-height: 92vh;
}

.rules {
  background-color: rgb(251, 241, 241);
  min-height: 100vh;
  padding-top: 55px;
  /* display: flex; */
}

.basketball-parent {
  display: grid;
  grid-template-columns: 30% 70%;
}

.basketball-parent img {
  display: none;
  grid-template-columns: 30% 70%;
}

.soccer-parent {
  display: grid;
  grid-template-columns: 30% 70%;
}
.soccer-parent img {display: none;}
.tennis-parent {
  display: grid;
  grid-template-columns: 30% 70%;
}
.tennis-parent img {display: none;}
.swimming-parent {
  display: grid;
  grid-template-columns: 30% 70%;
}
.swimming-parent img {display: none;}

.leagues {
  /* background-color: greenyellow; */
  min-height: 100vh;
  padding-top: 55px;
  /* display: flex; */
}

.sportcards {
  display: grid;
  width: 100%;
  grid-template-areas: 'basketball soccer tennis swimming';
  /* background-color: blue; */
}

.basketball {
  grid-area: basketball;
}

.basketball-card {
  background-color: white;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.basketball-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.basketball-card:hover .basketball-card-inner {
  transform: rotateY(180deg);
}

.basketball-card-front,
.basketball-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.basketball-card-front {
  /* background-color: #bbb; */
  /* height: 300px; */
  /* width: 300px; */
}

.basketball-card-back {
  background-color: rgb(141, 81, 201);
  color: black;
  transform: rotateY(180deg);
}

.soccer {
  grid-area: soccer;
}

.soccer-card {
  background-color: white;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.soccer-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.soccer-card:hover .soccer-card-inner {
  transform: rotateY(180deg);
}

.soccer-card-front,
.soccer-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.soccer-card-back {
  background-color: rgb(141, 81, 201);
  color: black;
  transform: rotateY(180deg);
}

.tennis {
  grid-area: tennis;
}

.tennis-card {
  background-color: white;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.tennis-card-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tennis-card:hover .tennis-card-inner {
  transform: rotateY(180deg);
}

.tennis-card-front,
.tennis-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tennis-card-back {
  background-color: rgb(141, 81, 201);
  color: black;
  transform: rotateY(180deg);
}



.swimming {
  grid-area: swimming;

}

.swimming-card {
  background-color: white;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.swimming-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.swimming-card:hover .swimming-card-inner {
  transform: rotateY(180deg);
}

.swimming-card-front,
.swimming-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swimming-card-back {
  background-color: rgb(141, 81, 201);
  color: black;
  transform: rotateY(180deg);
}

.swimming-card-front {
  background-color: #bbb;
  height: 300px;
  width: 300px;
}

.sportss {
  text-align: center;

  text-decoration: underline;
}

.tennis-card-front img {
  position: relative;
  width: 100%;
  height: 100%;
  ;
}

.soccer-card-front img {
  position: relative;
  width: 100%;
  height: 100%;
}

.swimming-card-front img {
  position: relative;
  width: 100%;
  height: 100%;
}

/* .sports-rules {text-decoration: underline;} */
/* #sports-rules {text-align: left;} */
.list {
  display: list-item;
}

.rules {
  display: grid;
}

.leagues a {
  text-decoration: none;
  color: blue;
}