.signin-card {
    position: relative;
    /* padding: 2%; */
    width: 50%;
    left: 25%;
    margin-top: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container {padding: 2%;}

input[type=text] {
    width: 70%;
    margin-bottom: 2%;
    border-radius: 4px;
border: 2px solid red;
}
input[type=text]:focus {background-color:lightblue;
}

/* input {margin-left: 20%;} */
h1 {
    color: rgb(111, 59, 157);
    text-align: center;
}

.parent {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
    place-items: center;
    
}
/* .label {margin-right: 10%;} */
.center {text-align: center;}
button {border-radius: 20px ;
border-color: transparent;
box-shadow: none;
}
button:hover {
    border-color: black;
    border-width: 0.5px;
}